.loginpage-header-button {
  position: absolute;
  right: 2%;
  bottom: 15%;
}

ion-card-content {
  text-align: center;
}

input {
  margin: 8px;
}

#submit {
  margin: 12px
}

ion-footer {
  text-align: center;
  background-color: #f2f3f4;
}


