 #homepage-header-toolbar {
  background-color: #3cb371;
}

.homepage-header-button {
  position: absolute;
  right: 2%;
  bottom: 15%;
}

ion-card-title, ion-card-subtitle, ion-content {
  text-align: center;
}

ion-footer {
  text-align: center;
  background-color: #f2f3f4;
}
