<ion-app>
  <!--  homepage header-->
  <ion-header class = "homepage-header" [translucent]="true">
    <ion-toolbar id = "homepage-header-toolbar">
      <ion-title id = "header-title">
        JJ First Web App
      </ion-title>
      <div class = "homepage-header-button">
        <ion-button size="small" color="success" (click)="login()" routerLink="/loginpage">Login</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <!--  Homepage Content-->
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-title><strong>Welcome</strong></ion-card-title>
      <ion-card-subtitle>to JJ Alcuran First Web Application</ion-card-subtitle>

      <ion-card-content>
        Let's drink some black coffee and eat dark chocolates in order for us to win the battle against our sleepy eyes.
      </ion-card-content>

      <ion-card-content>
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe src="https://player.vimeo.com/video/691250678?h=6b07e43de6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Welcome to JJ First Web App">
          </iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </ion-card-content>

    </ion-card>

  </ion-content>


  <!--  Homepage Footer -->
  <ion-footer>
    <div class = "homepage-footer">
      <p>This is my Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
  </ion-footer>


</ion-app>


